.contextMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 0px;

    border-radius: 16px;

    background: var(--transp-20-60);
}

.contextMenuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.contextMenuItem:active {
    background: var(--transp-40-60);
}