.App {
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  width: 100vw;
}

.cardStack {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

.hand {
  width: 100%;
  height: 200px;
}